﻿@using AISCinemaApp2.Models.ViewModels
@model List<GenreViewModel>

@section MyCssSection{
    <link href="~/Content/Css/Page/AddFilmForm.css" rel="stylesheet" type="text/css" />
}


<div class="container">
    <div>
        <a href="/Page/Index">Назад</a>
    </div>

    <h2>Добавление нового фильма</h2>

    <form action="/Page/AddFilm" method="post" enctype="multipart/form-data">

        <div>
            <label>Название:<br/><input type="text" name="name" required/></label>
        </div>

        <div>
            <label>Рейтинг:<br /><input type="number" name="rating" required/></label>
        </div>

        <div>
            <label>Длительность(мин.):<br /><input type="number" name="duration" required/></label>
        </div>

        <div>
            <label>
                Жанр:<br />
                <select name="idGenre">
                    @foreach (GenreViewModel genre in Model)
                    {
                        <option value="@genre.id">@genre.name</option>
                    }
                </select>
            </label>
        </div>

        <div>
            <label>Дата релиза:<br /><input type="date" name="releaseDate" required/></label>
        </div>

        <div>
            <label>Описание:<br /><textarea name="description" rows="10" required></textarea></label>
        </div>

        <div>
            <label>Постер:<br /><input type="file" name="posterImage" required/></label>
        </div>

        <div>
            <label>Сделать активным:<br /><input type="checkbox" name="isActive"/></label>
        </div>

        <div>
            <input type="submit" value="Добавить" />
        </div>

    </form>
</div>
