﻿@using AISCinemaApp2.Models.ViewModels
@model FilmViewModel

@section MyCssSection{
    <link href="~/Content/Css/Page/Details.css" rel="stylesheet" type="text/css" />
}

<div class="container">
    <div>
        <a href="/Page/Index">Назад</a>
    </div>

    <h2>@Model.name</h2>
    <div>
        <img src="@Model.pathToImage" />
    </div>
    <div>
        <b>Описание:</b><br />
        @Model.description
    </div>
    <div>
        <b>Рейтинг:</b><br />
        @Model.rating
    </div>
    <div>
        <b>Длительность:</b><br />
        @Model.duration минут
    </div>
    <div>
        <b>Жанр:</b><br />
        @Model.genre
    </div>
    <div>
        <b>Дата релиза:</b><br />
        @Model.releaseDate.ToShortDateString()
    </div>
</div>
