﻿@using AISCinemaApp2.Models.ViewModels
@model List<FilmViewModel>

@section MyCssSection{
    <link href="~/Content/Css/Page/Index.css" rel="stylesheet" type="text/css" />
}


@{
    List<FilmViewModel> mainFilms = Model.Take(2).ToList();
    int index = 0;
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (int i = 0; i < mainFilms.Count; i++)
        {
            if (i == 0)
            {
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            }
            else
            {
                <li data-target="#myCarousel" data-slide-to="@i"></li>
            }
        }
    </ol>

    <div class="carousel-inner">
        @foreach (FilmViewModel film in mainFilms)
        {
            string isActive = index == 0 ? "active" : "";

            <div class="carousel-item @isActive">
                <img src="@film.pathToImage" class="d-block" />
                <div class="container">
                    <div class="carousel-caption">
                        <h1>@film.name</h1>
                        <p>@film.description.Substring(0,150) ...</p>
                        <p><a class="btn btn-lg btn-primary" href="/Page/TableSessions/@film.id" role="button">Расписание сеансов</a></p>
                    </div>
                </div>
            </div>

            index++;
        }
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container marketing">
    <div class="row">
        @foreach (FilmViewModel film in Model)
        {
            <div class="col-12 row mb-5">
                <div class="col-lg-2">
                    <img class="rounded-circle" src="@film.pathToImage" width="140" height="140">
                </div>

                <div class="col-lg-10">
                    <h2>@film.name</h2>
                    <p>@film.description</p>

                    <div class="row pl-3">
                        <a class="btn btn-secondary mr-3" href="/Page/Details/@film.id" role="button">Подробнее</a>
                        <a class="btn btn-primary" href="/Page/TableSessions/@film.id" role="button">Расписание сеансов</a>
                    </div>

                </div>
            </div>
        }
    </div>

    <div class="row">
        <a href="/Page/AddFilmForm">Добавить новый фильм</a>
    </div>
</div>