﻿@using AISCinemaApp2.Models.ViewModels
@model SessionsViewModel

@section MyCssSection{
    <link href="~/Content/Css/Page/TableSessions.css" rel="stylesheet" type="text/css" />
}


<div class="container">
    <div>
        <a href="/Page/Index">Назад</a>
    </div>

    <h2>@Model.film.name</h2>

    <div>
        <b>Рейтинг:</b><br />
        @Model.film.rating
    </div>

    <div>
        <b>Длительность:</b><br />
        @Model.film.duration минут
    </div>

    <div>
        <table>
            <tr>
                <th>Время сеанса</th>
                <th>Стоимость</th>
                <th>Осталось билетов</th>
                <th></th>
            </tr>

            @foreach (SessionViewModel session in Model.sessions)
            {
            <tr>
                <td>@session.dt</td>
                <td>@session.price</td>
                <td>@session.countTickets</td>
                <td>
                    <form action="/Page/BuyTicket" method="post">
                        <input type="text" value="@Model.film.id" name="idFilm" hidden />
                        <input type="text" value="@session.idSession" name="idSession" hidden />
                        <input type="submit" value="Купить билет" />
                    </form>
                </td>
            </tr>
            }
        </table>
    </div>

</div>