﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIS Cinema</title>
    <link href="~/Content/Css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("MyCssSection")
    <script src="~/Scripts/bootstrap/modernizr-2.8.3.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <span>AIS Cinema</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Page/Index">Главная</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main role="main">
    @RenderBody()

    <footer class="container">
        <p>&copy; 2020 Cinema, Inc.</p>
    </footer>
</main>

<script src="~/Scripts/bootstrap/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
</body>
</html>