﻿@using AISCinemaApp2.Models.ViewModels
@model SuccessViewModel

@section MyCssSection{
    <link href="~/Content/Css/Page/CommonSuccess.css" rel="stylesheet" type="text/css" />
}

<div class="container">
    <h2>Успех</h2>
    <div>@Model.message</div>
    <a href="/">На главную</a>
</div>
