﻿@using AISCinemaApp2.Models.ViewModels
@model ErrorViewModel

@section MyCssSection{
    <link href="~/Content/Css/Page/CommonError.css" rel="stylesheet" type="text/css" />
}

<div class="container">
    <h2>Ошибка</h2>
    <div><b>Текст ошибки: </b>@Model.message</div>
    <a href="/">На главную</a>
</div>